{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block tittle %}Create a new profile page{% endblock %}</title>
</head>
<body>
{% block content %}
{% if user.is_authenticated %}
<h1> Create Profile page ..</h1>
<br><br>
<div class="form-group">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-secondary">Create Profile Page </button>

</form>
</div>

{% else %}
<h3>Please log in  ..)</h3>
{% endif %}
{% endblock %}
</body>
</html>