{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block tittle %}Edit Profile Page{% endblock %}</title>
</head>
<body>
{% block content %}
{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
<h1> Edit Profile ... </h1>
<br><br>
<div class="form-group">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-secondary">Update Profile Page </button>

</form>
</div>

{% else %}
<h3>Please log in  ..)</h3>
{% endif %}
{% else %}
<h4> Your not allowed to edit this Profile </h4>
{% endif %}
{% endblock %}
</body>
</html>